*.dia~
bin/
KirosEngine va0.1/KirosEngine/KirosProject/obj/x64/Debug/
KirosEngine va0.1/KirosEditor/obj/x64/Debug/
KirosEngine va0.1/KirosEditor/obj/Release/
KirosEngine va0.1/KirosEngine/KirosProject/obj/Release/
KirosEngine va0.1/KirosEditor/obj/Debug/
KirosEngine va0.1/KirosEngine/KirosProject/obj/Debug/
KirosEngine va0.1/KirosChemistry/obj/Release/KirosChemistry.csproj.FileListAbsolute.txt
KirosEngine va0.1/KirosChemistry/obj/x64/Debug/KirosChemistry.csproj.FileListAbsolute.txt
KirosEngine va0.1/KirosEngine/obj/x86/Release/KirosEngine.csproj.FileListAbsolute.txt
KirosEngine va0.1/KirosPhysics/obj/Release/KirosPhysics.csproj.FileListAbsolute.txt
KirosEngine va0.1/KirosPhysics/obj/x64/Debug/KirosPhysics.csproj.FileListAbsolute.txt
KirosEngine va0.1/KirosUnitTest/obj/Debug/
